<h1>Вакансии</h1>
<p>Текущие вакансии: Уборщица, танцовщица, водолаз. </p>
<br>
<br>
<form action="/job" method="post">
  <div class="form-group">
    <input name="job_email" type="text" placeholder="Введите ваш e-mail">
    <p><textarea name="job_text" rows="10" cols="45"  placeholder="Перечислите ваши навыки"></textarea></p>
    <button type="submit" class="btn btn-primary">Need job!</button>
  </div>
</form>
