<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>


  <table class="table table-striped">

    <thead>
      <tr>
        <th>Имя</th>
        <th>Телефон</th>
        <th>Дата</th>
        <th>Парикмахер</th>
      </tr>
    </thead>
  <body>
    <% @results.each do |row|%>
      <tr>
        <td><%= row['username']%></td>
        <td><%= row['userphone']%></td>
        <td><%= row['date_stamp']%></td>
        <td><%= row['worker']%></td>
      </tr>
    <% end %>
    </body>
  </table>

</body>
</html>
